body{
    background-color: #D9E4EC;
}
h1{
    text-transform: uppercase;
    color: #385E72;
    text-align: center;
    font-family: monospace;
    font-size: 7em;
    margin-top:20px;
    text-shadow: 0 0 2px #385E72, 2px 2px 5px rgba(s0,0,0,0.3);
    cursor: default;
}
h3{
    display: inline-block;
}
.settings{
    display: flex;;
    justify-content: space-around;
    width:75%;
    margin: auto;
}





.hidden{
    display: none !important;    /* If we dont write imp then ID > class so display will be acc to what is mentioned in the ID*/
}   
body.dark{
    background-color: rgb(49, 49, 49);
    color: rgb(230, 210, 210);
}
p.selected{
    background-color: lightblue;
}
#game{
    display: flex;
    justify-content: center;
}
#board{                               /* sudoku board */
    padding-top:10px;
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width:600px;
    height:600px;
    background-color: slategrey;
}
.tile{                               /* tiles in board. JS class */
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0;
    vertical-align: middle;
    font-size: 40pt;
}

.numberPlate{
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 50px;
}
.numberTile{
    border: 1px solid black;
    border-radius: 15%;
    width: 60px;
    height: 60px;
    font-size: 30pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
}
.incorrect{
    color: red;
}
